<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513730992094-osb1te6a10e1q3e3sgainil5rqbo77j3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513730992094-osb1te6a10e1q3e3sgainil5rqbo77j3</string>
	<key>API_KEY</key>
	<string>AIzaSyDksrGXnWbbKzPSjYzT2wO2P2ChLgUwzCs</string>
	<key>GCM_SENDER_ID</key>
	<string>513730992094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prototypeApp</string>
	<key>PROJECT_ID</key>
	<string>flutterdb-6dfe4</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterdb-6dfe4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513730992094:ios:4eed3ddc590a6e7013ef4f</string>
</dict>
</plist>